:root {
  --shadowColor: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*
! This code is not working
TODO: animation
? is this working?


}

*/
body {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.bg {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: -5%;
}
.slogan {
  width: 100%;

  transition: 0.5s;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translateX(-50%);
  position: relative;
  font-size: 4em;
  font-family: Titanic;
}

.content {
  transition: 1s;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.content h2 {
  position: absolute;

  transform: translate(-50%, -50%);
  font-size: 8em;
}
.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px black;
}
.content h2:nth-child(2) {
  color: #03a9f4;
  animation: animate 2s ease-in-out infinite;
}

nav {
  display: grid;
  grid-template-columns: 10% 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 10%;

  align-items: center;
}

nav a {
  margin: 5px;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 20px 40px;
  border: 2px solid #00aeff;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 12px;
  color: white;
  justify-content: center;
}
nav a span {
  font-size: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;

  z-index: 1;
  transition: 1s;
}
nav a .wave {
  position: absolute;
  top: calc(100% + 22px);
  left: 0;
  width: 100%;
  height: 100%;
  background: #00aeff;
  transition: 1s;
}
nav a:hover .wave {
  top: 0;
}

nav a:hover {
  color: white;
}
nav a .wave:before {
  content: "";
  position: absolute;
  top: -22px;
  left: 0;
  width: 100%;
  height: 22px;
  background: url(wave.png);
  animation: animate1 0.5s linear infinite;
}

@keyframes animate1 {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: 118px;
  }
}
.login {
  grid-column: 2;
}
.home {
  grid-column: 3;
}

.about {
  grid-column: 4;
}
.contact {
  grid-column: 5;
}

.bg1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: darkblue;
  clip-path: polygon(0 100%, 88% 88%, 100% 0, 100% 100%);
  transform: rotate(180deg);
}
.bg1 .bg2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: blue;
  clip-path: polygon(0 100%, 93% 93%, 100% 0, 100% 100%);
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 34%,
      3% 31%,
      6% 28%,
      12% 25%,
      16% 22%,
      21% 20%,
      27% 18%,
      33% 14%,
      37% 14%,
      41% 16%,
      43% 21%,
      45% 25%,
      50% 29%,
      53% 33%,
      56% 38%,
      60% 43%,
      64% 48%,
      68% 52%,
      72% 56%,
      78% 58%,
      83% 60%,
      88% 59%,
      91% 57%,
      94% 54%,
      97% 50%,
      100% 48%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 35%,
      3% 37%,
      5% 41%,
      8% 45%,
      11% 50%,
      15% 53%,
      19% 58%,
      23% 63%,
      29% 67%,
      35% 69%,
      41% 68%,
      43% 65%,
      47% 60%,
      49% 55%,
      51% 51%,
      54% 47%,
      57% 44%,
      60% 41%,
      63% 39%,
      68% 36%,
      72% 35%,
      78% 34%,
      87% 37%,
      91% 41%,
      95% 44%,
      99% 47%,
      100% 100%,
      0 100%
    );
  }
}
label {
  grid-column: 10;
  position: relative;
  left: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
}
label .btn {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #1b1b1b;
  border-radius: 50%;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 1), inset 0 -2px 5px rgba(0, 0, 0, 1),
    inset 0 2px 2px rgba(255, 255, 255, 0.5), 0 0 0 2px #000, 0 0 0 5px #0c0c0c,
    0 0 0 5.5px #080808;
}
label input[type="checkbox"]:checked ~ .btn {
  box-shadow: 0 0 0 rgba(0, 0, 0, 1), inset 0 -2px 5px rgba(0, 0, 0, 1),
    inset 0 1px 1px rgba(255, 255, 255, 0.1), 0 0 0 2px #000, 0 0 0 5px #0c0c0c,
    0 0 0 5.5px #00a1ff;
}
label input[type="checkbox"] {
  -webkit-appearance: none;
}
label .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: #0c0c0c;
}
label input[type="checkbox"]:checked ~ .fa {
  color: #00ffe7;
  text-shadow: 0 0 15px #00a1ff, 0 0 30px #00a1ff;
}
.paragraph {
  text-align: justify;
  position: absolute;
  bottom: 160px;
  right: 290px;
  width: 290px;
  height: 200px;

  clip-path: polygon(50% 100%, 50% 100%, 97% 0, 0 0);
  transition: 1s;
  border-radius: 10px;
}
.paragraph .heading {
  width: 100%;
  font-style: italic;
  position: relative;
  text-align: center;

  transition: 1s;
  font-size: 20px;
}
.paragraph img {
  position: absolute;
  top: 11%;
  left: 50%;
  transform: translateX(-50%);
  transition: 1s;
}
.paragraph:hover img {
  opacity: 0;
}
.paragraph p {
  overflow-y: scroll;
  width: 290px;
  height: 180px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  transition: 1s;
  top: 200px;
}
.paragraph:hover p {
  top: 30px;
}
.paragraph:hover {
  bottom: 250px;
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
}

.paragraph p::-webkit-scrollbar {
  width: 0.5rem;
}
.paragraph p::-webkit-scrollbar-track {
  border-radius: 10px;
  background: black;
}
.paragraph p::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(to bottom, white, black, white);
}
.underwater {
  transition: 1s;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
}

#wheel {
  transform-origin: 52.5% 38.5%;
  transition: 2s;
}
.fortune {
  bottom: 0;
  right: 700px;
  position: absolute;
}
.banner {
  position: absolute;
  width: 10rem;
  bottom: 2.5rem;
  right: 55rem;
  z-index: 1;
}
.banner span {
  font-size: 80px;
  color: red;
  animation: change 1s infinite linear;
}
@keyframes change {
  from {
    filter: hue-rotate(0);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

#star {
  cursor: pointer;
  transform-origin: 52.5% 38.5%;
  transition: 1s;
}
.chest {
  position: absolute;
  right: 300px;
  bottom: 50px;
  background: transparent;
}
